body
{
    text-align: center;
}

.LoginField
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(24, 26, 27);
}

.dataInput
{
    border: 2px solid rgb(179, 179, 179);
    height: 40px;
    width: 100%;
    background-color: rgb(43, 46, 48);
    color: rgb(255, 255, 255);
    text-align: center;
}

.dataInput:focus
{
    border: 2px solid rgb(0, 255, 55);
}

.LoginForm
{
    min-width: 300px;
    position: absolute;
    width: 30%;
    height: 40%;
    background-color: rgb(43, 46, 48);
    box-shadow: 1px 2px 3px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginButton
{
    border: 2px solid rgb(179, 179, 179);
    background-color: rgb(43, 46, 48);
    color: rgb(255, 255, 255);
    width: 30%;
    height: 40px;
    text-align: center;
}