.PlanMenu 
{
    background-color: red;
}

.PlanPill
{
    text-align: center;
    background-color: rgb(186, 199, 0);
    width: 11.4%;
    height: 90%;
    margin-right: 1%;
}

.PlanRow
{
    height: 100%;
}

.Background
{
    height: 100vh;
    background-color: rgb(85, 85, 85);
}

.justc
{
    background-color: blueviolet;
}

.Subject
{
    background-color: blue;
    height: 80px;
    width: 100%;
}

.deansSubject
{
    /*background-color: coral;*/
    margin-bottom: 10px;
    text-align: center;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

#addSubjectsButton
{
    float: right;
}

.SubjectsList
{
    background-color: rgb(206, 206, 206);
    height: 500px;
}

#subjectsMenuList
{
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.SubjectInput
{
    height: 200px;
}

.bhg
{
    width: 100%;
}